<nb-layout>
  <nb-layout-column class="center-layout">
    <nb-card class="password-form">
      <nb-card-body>
        <div class="form-group">
          <label> Enter your new password </label>
          <input
            nbInput
            type="password"
            [(ngModel)]="newpassword"
            placeholder="New Password"

          />
        </div>

        <div class="form-group">
          <label> Enter your confirm password </label>
          <input
            nbInput
            type="password"
            [(ngModel)]="confirmpassword"
            placeholder="Confirm Password"

          />
        </div>
        <button nbButton status="primary" (click)="Submit()">Submit</button>
      </nb-card-body>
    </nb-card>

  </nb-layout-column>

 </nb-layout>
