<nb-layout>
  <nb-layout-column class="center-layout">
    <nb-card class="email-form">
      <nb-card-body>
        <h3>Verify Email Address</h3>
        <div class="form-group">
          <input
            nbInput
            type="email"
            [(ngModel)]="email"
            placeholder="email address"
          />
        </div>
        <div>
          <button nbButton status="primary" (click)="Verify()">Verify</button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
