.app-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


nb-layout-header {
  --header-background-color: #2C4D89;
  --header-text-color: #ffff;
}