

<nb-layout>
  <nb-layout-column class="center-layout">
    <nb-card class="confirmcode-form">
      <nb-card-body>
        <div class="form-group">
          <label> Enter your email address </label>
          <input
            nbInput
            type="text"
            [(ngModel)]="code"
            placeholder="6 digits code"
            minlength="6"
            maxlength="6"
            required
          />
        </div>
        <div>
          <button nbButton status="primary" (click)="Code()">Verify</button>
        </div>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
